/* ==========================================================================
   Include variables and mixins
   ========================================================================== */
/* ==========================================================================
   Global CSS variables
   ========================================================================== */
:root {
  --qode-main-color: #fff;
  --qode-main-opposite-color: #000;
  --qode-second-color: #424242;
  --qode-header-light-color: #fff;
  --qode-header-light-hover-color: #fff;
  --qode-header-dark-color: #000;
  --qode-header-dark-hover-color: #000;
  --qode-border-color: #1d1d1d;
}

/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Menu mixins - begin
   ========================================================================== */
/* ==========================================================================
   Menu mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - begin
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Common mixins - begin
   ========================================================================== */
/* ==========================================================================
   Common mixins - end
   ========================================================================== */
/* ==========================================================================
   Custom Effect mixins - begin
   ========================================================================== */
/* ==========================================================================
   Custom Effect mixins - end
   ========================================================================== */
/* ==========================================================================
   Animations mixins - begin
   ========================================================================== */
/* ==========================================================================
   Animations mixins - end
   ========================================================================== */
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  color: var(--qode-main-color);
  background-color: #000;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--qode-main-color);
  font-size: 72px;
  line-height: 1.125em;
  letter-spacing: -0.05em;
  margin: 20px 0;
}

@media only screen and (max-width: 1512px) {
  h1 {
    font-size: 57px;
  }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 680px) {
  h1 {
    font-size: 45px;
  }
}

h1 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h1 a:focus, h1 a:hover {
  color: var(--qode-main-color);
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--qode-main-color);
  font-size: 60px;
  line-height: 1.15em;
  letter-spacing: -0.05em;
  margin: 20px 0;
}

@media only screen and (max-width: 1512px) {
  h2 {
    font-size: 52px;
  }
}

@media only screen and (max-width: 1200px) {
  h2 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 680px) {
  h2 {
    font-size: 40px;
  }
}

h2 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h2 a:focus, h2 a:hover {
  color: var(--qode-main-color);
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--qode-main-color);
  font-size: 52px;
  line-height: 1.19231em;
  letter-spacing: -0.05em;
  margin: 20px 0;
}

@media only screen and (max-width: 1512px) {
  h3 {
    font-size: 47px;
  }
}

@media only screen and (max-width: 1200px) {
  h3 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 680px) {
  h3 {
    font-size: 35px;
  }
}

h3 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h3 a:focus, h3 a:hover {
  color: var(--qode-main-color);
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--qode-main-color);
  font-size: 40px;
  line-height: 1.225em;
  letter-spacing: -0.03em;
  margin: 20px 0;
}

@media only screen and (max-width: 1200px) {
  h4 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 680px) {
  h4 {
    font-size: 30px;
  }
}

h4 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h4 a:focus, h4 a:hover {
  color: var(--qode-main-color);
}

h5 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--qode-main-color);
  font-size: 27px;
  line-height: 1.18519em;
  letter-spacing: -0.02em;
  margin: 20px 0;
}

@media only screen and (max-width: 680px) {
  h5 {
    font-size: 25px;
  }
}

h5 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h5 a:focus, h5 a:hover {
  color: var(--qode-main-color);
}

h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--qode-main-color);
  font-size: 15px;
  line-height: 1.13333em;
  text-transform: uppercase;
  margin: 20px 0;
}

h6 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h6 a:focus, h6 a:hover {
  color: var(--qode-main-color);
}

a,
p a {
  color: var(--qode-main-color);
  text-decoration: none;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  cursor: pointer;
}

a:focus, a:hover,
p a:focus,
p a:hover {
  color: var(--qode-main-color);
}

p {
  margin: 10px 0;
}

blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--qode-main-color);
  font-size: 27px;
  line-height: 1.18519em;
  letter-spacing: -0.02em;
  position: relative;
  padding: 18px 0 20px 71px;
  border: none;
  quotes: none;
  z-index: 1;
}

@media only screen and (max-width: 680px) {
  blockquote {
    font-size: 25px;
  }
}

blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
  padding: 18px 0 20px 71px;
}

blockquote.wp-block-pullquote {
  padding: 25px !important;
  text-align: center;
}

blockquote.wp-block-pullquote p {
  font-size: 28px !important;
  line-height: 1.6 !important;
}

blockquote.wp-block-pullquote.alignleft {
  max-width: 420px;
}

blockquote.wp-block-pullquote.alignright {
  max-width: 420px;
}

blockquote.has-text-align-right:before {
  left: auto;
  right: 0;
}

blockquote:before {
  content: '';
  position: absolute;
  top: 23px;
  left: 0;
  display: inline-block;
  background-repeat: no-repeat;
  width: 35px;
  height: 26px;
  margin-right: 8px;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23fff' width='35.2275' height='26.8467' viewBox='0 0 35.2275 26.8467'%3E%3Cpath d='M0,26.8467V18.3237a18.5648,18.5648,0,0,1,1.42-6.9956A30.3614,30.3614,0,0,1,5.0073,4.83,26.86,26.86,0,0,1,9.375,0l8.0967,4.12a28.532,28.532,0,0,0-2.8589,6.4629,26.2481,26.2481,0,0,0-.9766,7.7412v8.5229Zm17.7559,0V18.3237a18.5553,18.5553,0,0,1,1.42-6.9956A30.36,30.36,0,0,1,22.7627,4.83,26.8609,26.8609,0,0,1,27.1309,0l8.0967,4.12a28.532,28.532,0,0,0-2.8589,6.4629,26.2157,26.2157,0,0,0-.9766,7.7412v8.5229Z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23fff' width='35.2275' height='26.8467' viewBox='0 0 35.2275 26.8467'%3E%3Cpath d='M0,26.8467V18.3237a18.5648,18.5648,0,0,1,1.42-6.9956A30.3614,30.3614,0,0,1,5.0073,4.83,26.86,26.86,0,0,1,9.375,0l8.0967,4.12a28.532,28.532,0,0,0-2.8589,6.4629,26.2481,26.2481,0,0,0-.9766,7.7412v8.5229Zm17.7559,0V18.3237a18.5553,18.5553,0,0,1,1.42-6.9956A30.36,30.36,0,0,1,22.7627,4.83,26.8609,26.8609,0,0,1,27.1309,0l8.0967,4.12a28.532,28.532,0,0,0-2.8589,6.4629,26.2157,26.2157,0,0,0-.9766,7.7412v8.5229Z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

blockquote.dark-skin:before {
  background: url("../img/blog-quote-dark.svg") center center;
}

blockquote > * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
  margin: 0;
}

blockquote p {
  margin: 0 !important;
}

blockquote:after {
  content: '';
}

blockquote cite {
  display: block;
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 400 !important;
  text-align: inherit !important;
  text-transform: uppercase !important;
}
